.idea/
.vscode
.project
*.sublime-project
*.sublime-workspace
.DS_Store
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
.scannerwork
dist/
report/
nightwatch.json
selenium-debug.log
reporting/
reports/
test/EndToEnd/results/
coverage/
jest-reports/
